/*css样式初始化*/
body,h2,h3,p,li,ul,input,i,ol {
    padding: 0;
    margin: 0;
}
ul,ul>li {
    list-style: none;
}
i,em {
    font-style: normal;
}
a {
    text-decoration: none;
}
.center {
    width: 1000px;
    margin: 0 auto;
}
.clearfix {
    clear: both;
}
input {
    border: 0;
}