/* css初始化*/
 .download-app a:hover,.login-form a:hover,.footer a:hover,.protocol a:hover {
     background-color: #003399;
     color: #fff !important;
 }
/* css初始化*/



/*.douban 部分start*/
 #douban {
     text-indent: -555em;
     display: inline-block;
     margin: 30px 14px 0 0;
     width: 154px;
     height: 30px;
     background-image: url("../images/logo.png");
 }
 .douban-number {
     vertical-align: bottom;
     font: 24px/25px "Microsoft YaHei";
     color: #269337;
 }
 .douban-login {
     padding-top: 30px;
     font: 800 25px/40px "Microsoft YaHei";
     color: #494949;
 }
 /*.douban 部分end*/


 /*login-form 部分start*/
 .login-form {
     width: 280px;
     text-align: center;
 }
 .login-form>span {
     padding: 0 40px 0 55px;
     font: 400 12px/50px "Microsoft YaHei";
     color: #FE2617;
 }
 .login-form>a,.autologin>a {
     vertical-align: bottom;
     color: #336699;
     font: 12px/20px "Microsoft YaHei";

 }
 .login-form>label {
     font: 14px/40px "Microsoft YaHei";
 }
 .login-form>label>input {
     padding-left: 8px;
     width: 205px;
     border: 1px solid #C9C9C9;
     height: 28px;
     border-radius: 3px;
 }
 .autologin {
     padding-top: 20px;
     font: 13px/20px "Microsoft YaHei";
     color: #666666;
 }
 .autologin>a {

 }
 .login-form>input[type="submit"] {
     width: 80px;
     height: 31px;
     border-radius: 3px;
     margin: 20px 0 20px 0;
     color: #fff;
     background-color: #3FA156;
     border: 1px solid #528641;
 }
 .other-login {
     width: 200px;
     height: 30px;
     line-height: 30px;
     margin: 0 auto;
     border-top: 1px solid #EEEEEE;
     border-bottom: 1px solid #EEEEEE;
 }
 .other-login>i {
     font: 13px/30px "Microsoft YaHei";
     color: #999999;
 }
 .weiblog,.weichat {
     display: inline-block;
     width: 16px;
     height: 16px;
 }
 .weiblog {
     background: url("../images/sina.png");
 }
 .weichat {
     background: url("../images/wechat.png");
 }
 /*login-form 部分end*/

 /*download-app 部分start*/
 .download-app {
     padding-right: 50px;
     float: right;
 }
 .download-app>i,.download-app>a {
     font: 12px/35px "Microsoft YaHei";
     color: #999;
 }
 .download-app>a {
     color: #336699;
 }
 /*download-app 部分end*/

/* dashed-line 部分start*/
.dashed-line {
    width: 100%;
    height: 130px;
    border-bottom: 1px dashed #DDDDDD;
}
/* dashed-line 部分end*/

/* footer 部分start*/
.copy {
    color: #999999;
    font: 12px/20px "Microsoft YaHei";
}
.list {
    float: right;
    color: #999999;
    width: 480px;
}
.list>a {
    color: #336699;
    font: 12px/20px "Microsoft YaHei";
}
/* footer 部分end*/