body {
    background-color: #fff;
}
.kinds {
    padding: 60px 0;
    width: 1000px;
    margin: 0 auto;
}
.kinds>div {
    width: 100%;
    border-bottom: 1px dashed #ddd;
}
.kinds>div>table {
    padding-left: 50px;
    width: 100%;
}
.kinds>div>table thead {
    font-size: 20px;
    text-align: left;
}
.kinds>div>table tr {
    line-height: 40px;
}
.kinds>div>table tr>td {
    width: calc(100%/6);
}
.kinds>div>table tr>td>a {
    font-size: 15px;
    display: block;
    color: rgba(212,60,51,0.9);

}
